<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swaqny.crossword.puzzl.challenge">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/crosss"
        android:label="CrossWord Puzzle Challenge"
        android:roundIcon="@drawable/crosss"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.gameplay.WordSearchActivity" />
        <activity
            android:name=".ui.MenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name=".ui.ResultsActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>